body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    background-color: rgb(46, 46, 46);
    height: 50px;
    
}

nav a {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 16px;
    border-radius: 15px 15px 0 0; 
    margin: 5px 15px 0px 15px;
}

nav #timerNav {
    float: right;
}

.container {
    width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    line-height: 1.8rem;
}

.button {
    font-size: 18px;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: rgb(104, 211, 104);
    color: white;
    border-radius: 10px;
}

.choices {
    width: 500px;
    text-align: left;
}

.choice-button {
    background-color: rgb(96, 84, 251);
    visibility: hidden;
    margin-right: 20px;
}

.correct {
    font-size: 24px;
    color: rgb(42, 180, 42);
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-name: fadeout;
}

.incorrect {
    color: rgb(209, 49, 49);
    font-size: 24px;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-name: fadeout;
}

@keyframes fadeout {
    
    from {
        opacity: 100%
    }

    to {
        opacity:0%
    }
}

#homeTitle {
    font-size: 40px;
    margin-bottom: 2rem;
}

#homeText {
    font-size: 18px;
}

#initialForm {
    display: none;
}

#initials {
    height: 1.5rem;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    
    nav {
        width: 100%;
        margin: 0;
    }

    h2 {
        line-height: 3rem;
    }

    .container {
        width: 95%;
        margin-left: 10px;
    }

}